body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family: Verdana, Geneva, Tahoma, sans-serif;}
.maindiv{
    color: black;
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 25px;
    margin:0 auto;
    justify-content: center;
}



